body {
  padding: 50px;
}

h1 {
  text-align: center;
}
header {
  text-align: center;
  padding-top: 30px;
}
#todaytemp {
  text-align: center;
  font-size: 100px;
  padding-right: 0%;
}
#description {
  text-align: center;
  font-size: 15px;
}
.symbol {
  text-align: center;
  font-size: 80px;
}
.country {
  font-size: 40px;
}
.today {
  padding: 30px;
  margin: 0px;

  border-style: none;
  border-color: whitesmoke;
  border-radius: 50px;
  background: rgb(255, 255, 255, 0.5);
  color: #48484a;
  width: fit-content;
  height: fit-content;
  display: block;
  margin: auto;
}

#todaytemp {
  font-size: 50px;
  text-align: right;
}

#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.border.w-auto {
  margin: 10px;
  border: none;
}

#currentHour {
  text-align: center;
}
#celsius {
  font-size: 20px;
}
#currentlocationimg {
  display: inline-block;
  background: none;
}
footer {
  text-align: right;
  font-weight: lighter;
  color: gray;
}
ul {
  list-style: none;
}

#here {
  background-color: #ec6e4c !important;
  border: none !important;
  border-radius: 50px;
  margin-top: 20px;
  margin-left: 10px;
}
#enter {
  background-color: #c5b8b4 !important;
  border: none !important;
  border-radius: 5px;
  margin-top: 20px;
}

.units {
  color: #48484a;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin-top: 6px;
  padding-left: 6px;
  vertical-align: top;
}
#fahrenheit-link {
  text-decoration: none;
  color: #48484a;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin-top: 6px;

  vertical-align: top;
}
#fahrenheit-link:hover {
  color: #ec6e4c;
}
#celcius-link {
  text-decoration: none;
  color: #48484a;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin-top: 6px;
  vertical-align: top;
}
#celcius-link:hover {
  color: #ec6e4c;
}
footer {
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
#weather-extras {
  padding-left: 0%;
}
#searchCity {
  background: rgb(255, 255, 255, 0.5);
  border-radius: 10;
  margin-left: 20px;
  margin-top: 20px;
}

#searchForm {
  display: flex !important;
}
footer {
  text-align: justify;
  margin-left: 40px;
  text-align: center;
}
.weekday {
  border-color: whitesmoke;
  border-radius: 20px;
  background: rgb(197, 156, 121, 0.5);
  padding: 10px;

  color: #48484a;
  text-align: center;
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
  font-weight: bold;
}
.row.week {
  column-gap: 10px;
  flex-wrap: nowrap;
  padding-top: 10px;
}
.forecastmax {
  font-size: 15px;
}
.forecastmin {
  font-size: 15px;
  color: #686869;
}
