body {
  padding: 90px;
}

h1 {
  text-align: center;
}
header {
  text-align: center;
}
#todaytemp {
  text-align: center;
  font-size: 100px;
  padding-right: 0%;
}
#description {
  text-align: center;
  font-size: 15px;
}
.symbol {
  text-align: center;
  font-size: 80px;
}
.country {
  font-size: 40px;
}
.today {
  padding: 20px;
  margin: 0px;

  border-style: double;
  border-color: whitesmoke;
  border-radius: 50px;
  background: rgb(255, 255, 255, 0.5);
  color: #48484a;
}
.row {
  flex-wrap: nowrap;
}

#todaytemp {
  font-size: 50px;
  text-align: right;
}

#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.border.w-auto {
  margin: 10px;
  border: none;
}

#currentHour {
  text-align: center;
}
#celsius {
  font-size: 20px;
}
#currentlocationimg {
  display: inline-block;
  background: none;
}
footer {
  text-align: right;
  font-weight: lighter;
  color: gray;
}
ul {
  list-style: none;
}

#here {
  background-color: #ec6e4c !important;
  border: none !important;
  border-radius: 50px;
}

.units {
  color: #48484a;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin-top: 6px;
  padding-left: 6px;
  vertical-align: top;
}
#fahrenheit-link {
  text-decoration: none;
  color: #48484a;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin-top: 6px;

  vertical-align: top;
}
#fahrenheit-link:hover {
  color: #ec6e4c;
}
#celcius-link {
  text-decoration: none;
  color: #48484a;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin-top: 6px;
  vertical-align: top;
}
#celcius-link:hover {
  color: #ec6e4c;
}
footer {
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
#weather-extras {
  padding-left: 0%;
}
